<link rel='stylesheet' id='login-css'  href='/assets/css/login.css' type='text/css' media='screen' />
    <div class="container" style="padding-top: 30px">
            <form class="form-signin"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong><i class="glyphicon glyphicon-home"></i>   Đăng nhập</strong></h1>
                    </div>
                    <div class="panel-body">
                        
                            <div class="form-group">
                                <label for="email"><strong>Tài khoản</strong></label>
                                <input type="text" class="form-control" id="account" placeholder="Tài khoản" required="required"
                                oninvalid="this.setCustomValidity('Nhập tài khoản của bạn')"
                                />
                            </div>
                            <div class="form-group">
                                <label for="pwd"><strong>Mật khẩu </strong><a href="/session/forgot_password" class="reser_a">(Quên mật khẩu)</a></label>
                                <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu" required="required"
                                oninvalid="this.setCustomValidity('Nhập mật khẩu của bạn')"
                                />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-refresh"></i> Đăng nhập</button>
                                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-remove"></i> Hủy bỏ</button>
                            </div>

                            <div class="form-group">
                                <%= link_to "-  Đăng nhập qua Facebook", "/auth/facebook", id: "sign_in", class: "sign_in" %><br/>
                                 <%= link_to "-  Đăng ký tài khoản", "/signin", id: "sign_in", class: "sign_in" %>
                            </div>
                    </div>
                </div>
            </form>
        </div> <!-- /container -->

