<h1>Listing places</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td></td>
        <td><%= link_to 'Show', [:admin, place] %></td>
        <td><%= link_to 'Edit', edit_admin_place_path(place) %></td>
        <td><%= link_to 'Destroy', [:admin, place], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_admin_place_path %>
