<h1 style="
    color: #ffffff;
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    font-family: times;
"><i class="fa fa-meh-o"></i>       Trang bạn yêu cầu không tồn tại</h1>