<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Trip3s Admin</title>

    <!-- Bootstrap CSS -->    
    <link href="/assets/css/admin/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/assets/css/admin/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/assets/css/admin/elegant-icons-style.css" rel="stylesheet" />
    <link href="/assets/css/admin/font-awesome.min.css" rel="stylesheet" />    
    <!-- full calendar css-->
    <link href="/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<link href="/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/admin/owl.carousel.css" type="text/css">
	<link href="/assets/css/admin/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
	<link rel="stylesheet" href="/assets/css/admin/fullcalendar.css">
	<link href="/assets/css/admin/widgets.css" rel="stylesheet">
    <link href="/assets/css/admin/style.css" rel="stylesheet">
    <link href="/assets/css/admin/style-responsive.css" rel="stylesheet" />
	<link href="/assets/css/admin/xcharts.min.css" rel=" stylesheet">	
	<link href="/assets/css/admin/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon-tasks"></i> </div>
            </div>

            <!--logo start-->
            <a href="/admin/homeadmin/index" class="logo">Trip3s <span class="lite">Admin</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">                    
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>                    
                </ul>
                <!--  search form end -->                
            </div>

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
               
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="/admin/homeadmin/index">
                          <span>Dashboard</span>
                      </a>
                  </li>
          <li class="sub-menu">
                      <a href="/admin/places/" class="">
                          <span>Địa Điểm</span>
                      </a>
                      <!-- <ul class="sub">
                          <li><a class="" href="form_component.html">Form Elements</a></li>                          
                          <li><a class="" href="form_validation.html">Form Validation</a></li>
                      </ul> -->
                  </li>    
                  <li class="sub-menu">
                      <a href="/admin/categories" class="">
                          <span>Loại Địa Điểm</span>
                      </a>
                      <!-- <ul class="sub">
                          <li><a class="" href="form_component.html">Form Elements</a></li>                          
                          <li><a class="" href="form_validation.html">Form Validation</a></li>
                      </ul> -->
                  </li>       
                  <li class="sub-menu">
                      <a href="/admin/plans" class="">
                          <span>Kế Hoạch</span>
                      </a>
                    <!--   <ul class="sub">
                          <li><a class="" href="general.html">Elements</a></li>
                          <li><a class="" href="buttons.html">Buttons</a></li>
                          <li><a class="" href="grids.html">Grids</a></li>
                      </ul> -->
                  </li>
                  <li>
                      <a class="" href="/admin/users">
                          <span>Người Dùng</span>
                      </a>
                  </li>          
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span>Báo Cáo Thống Kê</span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="basic_table.html">Địa Điểm Nổi Bật</a></li>
                           <li><a class="" href="basic_table.html">Kế Hoạch Nổi Bật</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_documents_alt"></i>
                          <span>Cấu Hình</span>
                      </a>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->