
<div class="footer-background-wrap">
	<footer class="footer-wrap" style="background-color:">
		<div class="container">
			<div class="row">
				<div class="col-md-3"><div class="row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>New Items</span></h2></div>
		<div class="widget_posts_wrap">

									<ul class='latest-posts items list-unstyled'>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/edge-service/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/image311-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="image31" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/javo-hotel-in-downtown/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/hotel6-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="hotel6" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/natus-car-rent/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/bus1-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="bus" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/super-car-rental/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/car2-111-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="car2-11" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/espresso-cafe/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/JAVO_7111-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_7111" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/hotel-ballagio/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/JAVO_1704-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_1704" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/queens-airport-2/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/image53-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="image53" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/dessert-cafe/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/12/JAVO_6424-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_6424" />											</div>
										</a>
									</span>
																	</li>
															<li class="col-xs-4 col-sm-4 col-md-4">
																		<span class='thumb'>
										<a href="item/hotel-venetian-2/index.html">
										<div class="img-wrap-shadow">
											<img width="80" height="80" src="/assets/sites/2/2014/08/JAVO_0480-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_0480" />											</div>
										</a>
									</span>
																	</li>
													</ul>
						
		</div>
		</div></div> <!-- col-md-3 -->
				<div class="col-md-3"><div class="row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Recent Posts</span></h2></div>			<div class="widget_posts_wrap">
										<div class="latest-posts posts row">
							<div class="col-md-12">
								<span class='thumb'>
									<a href="sed-ut-perspiciatis/index.html">
										<img width="80" height="80" src="/assets/sites/2/2014/08/JAVO_1705-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_1705" />									</a>
								</span>
								<h3><a href="sed-ut-perspiciatis/index.html">Sed ut perspiciatis</a></h3><a href="sed-ut-perspiciatis/index.html"><span>Sed ut perspiciatis ...</span></a>							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
												<div class="latest-posts posts row">
							<div class="col-md-12">
								<span class='thumb'>
									<a href="james-garner-dies-at-86-tv-antihero-of-maverick-rockford-files/index.html">
										<img width="80" height="80" src="/assets/sites/2/2014/07/JAVO_2999-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_2999" />									</a>
								</span>
								<h3><a href="james-garner-dies-at-86-tv-antihero-of-maverick-rockford-files/index.html">Itaque earum rerum h...</a></h3><a href="james-garner-dies-at-86-tv-antihero-of-maverick-rockford-files/index.html"><span>Sed ut perspiciatis ...</span></a>							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
									</div><!-- /.widget_posts_wrap -->
		</div></div> <!-- col-md-3 -->
				<div class="col-md-3"><div class="row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Recent Events</span></h2></div>			<div class="widget_posts_wrap">
										<div class="latest-posts posts row">
							<div class="col-md-12">
								<span class='thumb'>
									<a href="item/javo-hotel-in-downtown/index.html#item-events">
										<img width="80" height="80" src="/assets/sites/2/2014/08/backyard-with-swimming-pool-house-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="backyard-with-swimming-pool-house" />									</a>
								</span>
								<h3><a href="item/javo-hotel-in-downtown/index.html#item-events">Hotel</a></h3><a href="item/javo-hotel-in-downtown/index.html#item-events"><span>Sed ut perspiciatis ...</span></a>							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
												<div class="latest-posts posts row">
							<div class="col-md-12">
								<span class='thumb'>
									<a href="item/super-car-rental/index.html#item-events">
										<img width="80" height="80" src="/assets/sites/2/2014/08/bus1-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="bus" />									</a>
								</span>
								<h3><a href="item/super-car-rental/index.html#item-events">Temporibus autem</a></h3><a href="item/super-car-rental/index.html#item-events"><span>Temporibus autem qui...</span></a>							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
												<div class="latest-posts posts row">
							<div class="col-md-12">
								<span class='thumb'>
									<a href="item/espresso-cafe/index.html#item-events">
										<img width="80" height="80" src="/assets/sites/2/2014/08/JAVO_1704-80x80.jpg" class="attachment-javo-tiny wp-post-image" alt="JAVO_1704" />									</a>
								</span>
								<h3><a href="item/espresso-cafe/index.html#item-events">Duis autem</a></h3><a href="item/espresso-cafe/index.html#item-events"><span>Lorem ipsum dolor si...</span></a>							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
									</div><!-- /.widget_posts_wrap -->
		</div></div> <!-- col-md-3 -->
				<div class="col-md-3">
					<div class="row widgets-wraps">
						<div class="widgettitle_wrap col-md-12">
							<h2 class="widgettitle">
								<span>Contact info</span>
							</h2>
						</div>
						<p class="contact_us_detail">
							<a href="http://javothemes.com/directory/demo1">
								<img src="/assets/sites/2/2015/01/Javo_Directory_logo-white.png" data-at2x="/assets/sites/2/2015/01/Javo_Directory_logo-white.png">
							</a>
						</p>
						<ul>
							<li><i class="fa fa-home"></i> 0987654321234</li>
							<li><i class="fa fa-mobile" style="font-size:20px; margin-left:1px;"></i> 01234567890</li>
							<li><i class="fa fa-fax" style="margin-right:3px;"></i> 01234567890</li>
							<li><i class="fa fa-envelope"></i> <a href="mailto:contactus@trip3s.xyz">contactus@trip3s.xyz</a></li>
							<li><i class="fa fa-clock-o"></i> AM9:00 ~ PM7:00</li>
							<li><i class="fa fa-plus-square"></i> Thank you</li>
							<li><i class="fa fa-exclamation-circle"></i> <a href="http://trip3s.xyz">TRIP3S.XYZ</a></li>
						</ul>
						<div class="foot-sns-icons">
							<a href="yourFacebook.html" target="_blank"><img src="/assets/sns/foot-facebook.png"></a>
							<a href="yourTwitter.html" target="_blank"><img src="/assets/sns/foot-twitter.png"></a>
							<a href="yourForrst.html" target="_blank"><img src="/assets/sns/foot-forrst.png"></a>
							<a href="yourGoogle%2b.html" target="_blank"><img src="/assets/sns/foot-googleplus.png"></a>
							<a href="yourPinterest.html" target="_blank"><img src="/assets/sns/foot-pinterest.png"></a>
							<a href="yourDribble.html" target="_blank"><img src="/assets/sns/foot-dribbble.png"></a>
						</div>
					</div>
				</div> <!-- col-md-3 -->
			</div> <!-- container -->
		</div> <!-- row -->
	</footer>
	<div class="footer-bottom" style="background-color:; border-color:;">
		<div class="container">
			<div class="pull-left">
				Copyright 2015 Student at UIT | All Rights Reserved			</div>
			<div class="pull-right">
								</div>
		</div> <!-- container -->
	</div> <!-- footer-bottom -->
</div>
		<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top javo-dark admin-color-setting" role="button" title="Go to top">
		<span class="fa fa-arrow-up"></span>
	</a>
		<div class="modal fade" id="author_contact" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Contact <span class="javo-contact-user-name"></span></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="contact_name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input name="contact_name" id="contact_name" class="form-control" placeholder="Insert your name" type="text">
						</div>
					</div>
					<div class="form-group">
						<label for="contact_email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input name="contact_email" id="contact_email" class="form-control" placeholder="Insert your E-mail address." type="email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<textarea name="contact_content" id="contact_content" class="form-control" rows="5"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input id="contact_submit" class="btn btn-primary col-md-12" value="Send a message" type="button">
						</div>
					</div>
					<input type="hidden" name="contact_this_from">
					<input type="hidden" name="contact_item_name">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- Modal -->
<div class="modal fade" id="map_breif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="row">
					<div class="col-md-12 javo_map_breif_modal_content"></div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Post share link send to mail -->
<div class="modal fade" id="emailme-reveal" tabindex="-1" role="dialog" aria-labelledby="emailme-revealLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" id="javo_frm_send_link_mail" class="custom">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="emailme-revealLabel">Email This post</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-6 col-lg-4"><div class="well well-sm">Sender Email Address</div></div>
						<div class="col-xs-6 col-lg-8"><input type="text" class="form-control" name="to_emailme_email" placeholder="Please type email address" value=""></div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-lg-4"><div class="well well-sm">Reception Email Address</div></div>
						<div class="col-xs-6 col-lg-8"><input type="text" class="form-control" name="from_emailme_email" placeholder="Please type email address to send" value=""></div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-lg-4"><div class="well well-sm"><i class="fa fa-link"></i>&nbsp;Link</div></div>
						<div class="col-xs-6 col-lg-8"><input type="text" class="form-control" name="emailme_link" readonly value="index.html"></div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-lg-12"><textarea class="form-control" rows="10" cols="5" name="emailme_memo" placeholder="Please add some memo, if you need"></textarea></div>
					</div>
				</div><!-- Modal body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="javo_send_link_mail(this);">Send</button>
					<input name="action" value="emailme" type="hidden">
					<input name="action_mode" value="emailme" type="hidden">
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
	function javo_send_link_mail(t){
		(function($){
			"use strict";
			var f = t.form;
			var param = $("#javo_frm_send_link_mail").serialize();
			var option = {
				url:'http://javothemes.com/directory/demo1/wp-admin/admin-ajax.php',
				type:'post', dataType:'json', data:param, success:function(data){
					if( data['result'] == true ){
						alert("");
					}else{
						alert("");
					};
					$(t).text("Send").attr("disabled", false);
				}, error:function(e){
					alert("" + e.state());}};
			if( !f.to_emailme_email.value ){
				alert("");
				f.to_emailme_email.focus();
				return false;
			};
			if( !f.from_emailme_email.value ){
				alert("");
				f.from_emailme_email.focus();
				return false;
			};
			$(t).text("Processing..").attr("disabled", true);
			$.ajax(option);

		})(jQuery);
	}
</script>
<!-- Close Post share link send to mail --><!-- Post share link send to mail -->
<div class="modal fade" id="jv-claim-reveal" tabindex="-1" role="dialog" aria-labelledby="jv-claim-revealLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">



			<form method="post" id="javo_frm_send_link_claim" class="custom">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="jv-claim-revealLabel">Claim This Business</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-6 col-lg-6">
							<div class="form-group"><input type="text" class="form-control" name="jv-claim-name" required placeholder="Your Name" value=""></div>
						</div>

						<div class="col-xs-6 col-lg-6"><div class="form-group"><input type="text" class="form-control" name="jv-claim-email" placeholder="Your email" value=""></div></div>
					</div><!-- row -->
					<div class="row">
						<div class="col-xs-6 col-lg-6"><div class="form-group"><input type="text" class="form-control" name="jv-claim-username" placeholder="Username" value=""></div></div>
						<div class="col-xs-6 col-lg-6"><div class="form-group"><input type="text" class="form-control" name="jv-claim-phone" placeholder="Phone Number" value=""></div></div>
					</div><!-- row -->
					<div class="row">
						<div class="col-xs-12 col-lg-12"><textarea class="form-control" rows="5" cols="3" name="jv-claim-memo" placeholder="Please add some memo, if you need"></textarea></div>
					</div>
					<input type="hidden" cla="form-control" name="jv-claim-item" value="4440">
				</div><!-- Modal body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="javo_send_link_claim(this);">Send</button>
					<input name="action" value="send_claim" type="hidden">
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
	function javo_send_link_claim(t){
		(function($){
			"use strict";
			var f = t.form;
			var param = $("#javo_frm_send_link_claim").serialize();
			var option = {
				url:'http://javothemes.com/directory/demo1/wp-admin/admin-ajax.php',
				type:'post'
				, dataType:'json'
				, data:param
				, success:function(data){
					if( data.result == true ){
						$.javo_msg({content:"Your claim request has been successfully sent!<br/>We will review it and get you back soon."}, function(){
							$("#jv-claim-reveal").modal('hide');
						});
					}else{
						$.javo_msg({content:"Sorry, Email send failed. Please check your email address"});
					};
					$(t).button('reset');
				}, error:function(e){
					alert("" + e.state());
					console.log( e.responseText );
				}
			};

			var on_errors = 0;

			$(f).find('input').each(function(){
				$(this).removeClass('isNull');
				if( $(this).val() == "" ){
					$(this).addClass('isNull');
					on_errors++;
				}
			});

			if( on_errors > 0 ){

				$.javo_msg({ content:'Please fill them out'});
				return false;
			}

			$(t).button('loading');

			$.ajax(option);
		})(jQuery);
	}
</script>
<!-- Close Post share link send to mail -->
<!-- Modal -->
<div class="modal fade login-type2" id="login_panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-middle">
		<div class="modal-content no-padding">

			<!-- Modal Header -->
			<div class="modal-header text-center">
				<h4 class="modal-title" id="myModalLabel">
					<img src="assets/icon/icon-user.png">
					Đăng nhập tài khoản				</h4><!-- /.modal-title -->
			</div><!-- /.modal-header -->

			<!-- Modal body -->
			<div class="modal-body">
				<form action="<%=session_index_path%>" id="login_form" name="login_form" method="post" role="form">

											<!-- Facebook Login -->
						<div class="form-group">
							<button type="button" class="btn btn-block btn-navy facebook_connect">
								<i class="fa fa-facebook"></i> &nbsp;
								<strong>Đăng nhập bằng facebook</strong>
							</button>
						</div><!-- /.form-group -->

						<div class="form-group separator-text text-center">
							<span>Hoặc</span>
						</div>
					
					<!-- User Name -->
					<div class="form-group">
						<input type="text" name="log" id="username"  value="" class="form-control" placeholder="Username" required>
					</div>

					<!-- User Password -->
					<div class="form-group">
						<input type="password" name="pwd" id="password" value="" class="form-control" placeholder="Password" required>
					</div>

					<!-- Descriptions -->
					<div class="form-group remember-and-forgot">
						<div class="row">
							<!-- Remember Me -->
							<div class="pull-left">
								<label class="control-label">
									<input name="rememberme" value="forever" type="checkbox">
									<small>Ghi nhớ</small>
								</label><!-- /.control-label -->
							</div><!-- /.pull-left -->
							<!-- Forgot Password -->
							<div class="pull-right">
								<a href="http://javothemes.com/directory/wp-login.php?action=lostpassword">
									<small class="required">Forgot Your Password?</small>
								</a>
							</div><!-- /.pull-right -->

						</div><!-- /.inline-block -->

					</div><!-- /.form-group -->

					<!-- Login Button -->
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<span class="description">Đăng nhập để quản lý kế hoạch du lịch của bạn.</span>
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-12">
								<input type="hidden" name="redirect_to" value="/directory/demo1/">
								<button type="submit" class="btn btn-block btn-danger">
									<strong>Đăng nhập</strong>
								</button>
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
					</div>

					<hr class="padding-5px">

					<!-- Sign up Button -->
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">

															<div class="well well-sm">
									<small>This site is not allowed new members. please contact administrator.</small>
								</div>
														</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
					</div>

				</form>
			</div><!-- /.modal-body -->

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript"></script>
</div> <!-- / #page-style -->
		<script type="text/javascript">
		jQuery( function($){

			var javo_pre_image_ = $( "header#header-one-line" ).find( "[data-javo-sticky-src]" ).attr( "src" );
			var javo_stk_image_ = $( "header#header-one-line" ).find( "[data-javo-sticky-src]" ).data( "javo-sticky-src" );
			var javo_mob_image_ = $( "header#header-one-line" ).find( "[data-javo-mobile-src]" ).data( "javo-mobile-src" );

			$( window )

			.on( 'scroll resize', function(){
					if( $( window ).outerWidth() <= 768 ) {
						$( 'body, #javo-navibar ul.navbar-left' ).addClass( 'mobile' );
					}else{
						$( 'body, #javo-navibar ul.navbar-left' ).removeClass( 'mobile' );
					}

					$( '.javo-in-mobile.x-hide' ).show();

					if( $( "body" ).hasClass( 'mobile' ) ) {

						$( '.javo-in-mobile.x-hide' ).hide();
						$( "header#header-one-line" ).find( "[data-javo-mobile-src]" ).prop( "src", javo_mob_image_ );

					}else if( $( "header#header-one-line" ).find( "nav" ).hasClass( "affix" ) ) {

						$( "header#header-one-line" ).find( "[data-javo-sticky-src]" ).prop( "src", javo_stk_image_ );

					}else{

						$( "header#header-one-line" ).find( "[data-javo-sticky-src]" ).prop( "src", javo_pre_image_ );
					}

				})
				.trigger('scroll resize')
		});
		</script>
				<!-- Memberships powered by Paid Memberships Pro v1.7.15.2.
 -->
				<script type="text/javascript">
			var ajaxurl = 'wp-admin/admin-ajax.html';
			jQuery('.facebook_connect').click(function(){


				var context = jQuery(this).closest("form");
				if (jQuery(".tos_register", context).length > 0)
				{
					if (! jQuery(".tos_register", context).is(":checked"))
					{
						$.javo_msg({ content: "You must agree with the terms and conditions.", delay:10000 });
						return false;
					}
				}

				FB.login(function(FB_response){
					if( FB_response.status === 'connected' ){
						fb_intialize(FB_response);
					}
				},
				{scope: 'email'});

			});

			function fb_intialize(FB_response){
				FB.api(
					'/me'
					, 'GET'
					,  {'fields':'id,email,verified,name'}
					, function(FB_userdata)
					{
						jQuery.ajax({
							type: 'POST',
							url: ajaxurl,
							data: {"action": "fb_intialize", "FB_userdata": FB_userdata, "FB_response": FB_response},
							error: function(e){
								jQuery.javo_msg({ content: "Server Error", delay:10000 });
								console.log( e.responseText );
							},
							success: function(user){
								if( user.error ){
									jQuery.javo_msg({ content: user.error, delay:10000 });
								} else if( user.loggedin ){
									if( user.type === 'login' )
									{
										window.location.reload();
									}
									else if( user.type === 'register' )
									{
										window.location = user.url;
									}
								}
							}
						});
					}
				)
			}
			jQuery('.facebook_deconnect').click(function(){
				jQuery.javo_msg({ content: "You has been successfully Facebook Logout.", delay:10000 });
				FB.logout(function(res){
					window.location.href= "http://javothemes.com/directory/demo1";
				});
			});
	</script>
			<script type="text/javascript">
		jQuery( function( $ ){

			if( typeof window.javo_mailchimp_script == "undefined" )
			{







				window.javo_mailchimp_script = {

					init: function(){

						$( document ).on( 'submit', 'form#newsletter-form', function( e ){

							e.preventDefault();

							var wp_once	= $( this ).find( "input[name='javo_mailchimp_security']" ).val();
							var cm_list	= $( this ).find( "input[name='cm_list']" ).val();
							var ajaxurl	= $( this ).find( "input[name='ajaxurl']" ).val();
							var ok_msg	= $( this ).find( "input[name='ok_msg']" ).val();
							var no_msg	= $( this ).find( "input[name='no_msg']" ).val();


							var param	= {
								action		: 'javo_mailchimp'
								, mc_email	: $('#javo_cmp_email').attr('value')
								, yname		: $('#javo_cmp_name').attr('value')
								, list		: cm_list
								, nonce		: wp_once
							};

							$.ajax({
								url			: ajaxurl
								, type		: 'POST'
								, data		: param
								, dataType	: 'JSON'
								, xhr: function(){

									var xhr = new window.XMLHttpRequest();

									xhr.addEventListener( 'progress', function( e ){

										console.log( e );

									}, false );

									return xhr;

								}

								, success	: function( xhr )
								{

									jQuery.javo_msg({ content: xhr.message, delay:10000 });
									console.log( xhr );

								}

								, error: function( xhr )
								{

									jQuery.javo_msg({ content: no_msg, delay:10000 });
									console.log( xhr.responseText );

								}
							});
						});
					}
				}
			}
			window.javo_mailchimp_script.init();
		} );
		</script>
		
	<script type="text/javascript">
		window.__javo_str_empty_alert_close_button='OK';
		window.__javo_str_is_empty='Please rate on %s.';
		window.__javo_str_comment_pending='Your comment is awaiting moderation.';
	</script>
		<script type="text/javascript">
		jQuery( function( $ ) {
			var javo_write_review = function( element ){
				this.el			= $( element );
				this.selector	= element;
				if( ! window.__JAVO_WRITE_REVIEW__ )
				{
					window.__JAVO_WRITE_REVIEW__ = true;
					this.init();
				}
			};

			javo_write_review.prototype = {

				constructor : javo_write_review

				, init : function()
				{
					var el				= this.el;
					var form			= el.find( "form" );
					this.list_offset	= 0;

					form.removeClass( 'hidden' ).hide();

					this
						.setInputRatingFields();

					$( document )

						.on( 'click', this.selector, this.showWriteForm )
						.on( 'click', '#javo-detail-item-review-loadmore', this.getReviewLists() )
						.on( 'submit', form.selector, this.submit_rating() )
						.on( 'keypress', ".javo-detail-item-reply", this.appendReply() )
						.on( 'click', '.javo-detail-item-edit-comment', this.editComment() );

					if( $( "#javo-detail-item-review-container" ).length > 0 )
						$( "#javo-detail-item-review-loadmore" ).trigger( 'click' );

				}

				, showWriteForm : function( e )
				{
					var form = $( this ).find( "form" );
					form.slideDown( 'fast' );

					$( this )
						.removeClass( 'cursor-pointer')
						.off( 'click' )
						.find( '.delete-ready')
						.remove();
				}

				, setInputRatingFields : function( reset )
				{
					var element		= $('.javo_rat_star');

					element.each(
						function(k, v)
						{
							if( ! reset )
							{
								$( this ).raty({
									starOff: '/assets/star-off.png'
									, starOn: '/assets/star-on.png'
									, starHalf: '/assets/star-half.png'
									, half: true
									, width:150
									, scoreName: $(this).data('input-name')
									, score: function() {
										return $(this).attr('data-score');
									}
								});
							}else{
								$( this ).raty( 'reload' );
							}
						}
					);
					return this;
				}

				, setRatings : function()
				{
					var el	= $( "#javo-detail-item-review-container" );

					el
						.find( "[data-score]" )
						.raty({
							starOff		: '/assets/star-off-s.png'
							, starOn	: '/assets/star-on-s.png'
							, starHalf	: '/assets/star-half-s.png'
							, half		: true
							, readOnly	: true
							, scoreName	: $(this).data('input-name')
							, score		: function() {
								return $(this).attr('data-score');
							}
						})
						.css( 'width', 'auto' );
				}

				, empty_field : function( elements )
				{
					var
						obj		= this
						output	= '';


					obj.el.find( "form [required]" ).each(
						function( i, k )
						{
							var value;

							if( typeof $( this ).data( 'input-name' ) != 'undefined'  ) {
								value = $( "[name='" + $( this ).data( 'input-name' ) + "']" ).val();
							}else{
								value = $( this ).val();
							}

							if( ! value )
								output += window.__javo_str_is_empty.replace( /%s/g, $( this ).data('label') ) + "<br>";
						}
					);

					if( output ) {
						$.javo_msg( {
							content		: output
							, button	: window.__javo_str_empty_alert_close_button
						} );
						return false;
					}
					return true;
				}

				, submit_rating : function()
				{
					var obj				= this;

					return function( e ){
						e.preventDefault();
						var
							form			= $( this )
							, ajax_url		= $( "[javo-ajax-url]" ).val()
							, el			= $( "#javo-detail-item-review-container" )
							, param			= form.serialize()
							, param_meta	= $( "#javo-detail-item-review-parameter" );

						if( ! obj.empty_field() )
							return false;

						$.post(
							ajax_url
							, param
							, function( response )
							{
								if( response.state )
								{
									if( response.approve )
									{
										$.javo_msg({ content: param_meta.find("[name='review_register_success']").val() });
										response.data.prepend = true;
										obj.list_offset = parseInt( obj.list_offset ) + 1;
										obj.add_listing( response.data );
										el.find( ".dismiss-ready" ).remove();
										obj.setReviewImageSlider();
									}else{
										$.javo_msg({ content: window.__javo_str_comment_pending });
									}
									obj.reset_review_form();

								}else{
									$.javo_msg({ content: param_meta.find("[name='review_register_fail']").val() });
								}
							}
							, 'json'
						)
						.fail( function( xhr ) {
							console.log( xhr.responseText );
						} );
					}
				}

				, reset_review_form : function()
				{
					var
						obj					= this
						, image_container	= obj.el.find( ".comment_image_preview" );

					obj.el.find( "[name='comment_content']" ).val( null );

					obj.setInputRatingFields( true );
					image_container.html( false );

				}

				, setReviewImageSlider : function()
				{
					var el = $( "#javo-detail-item-review-container .javo-detail-item-review-inner" );
					el.each(
						function(){
							$(this).magnificPopup(
								{
									type		: 'image'
									, delegate	: 'div.javo-thb[href]'
									, gallery	: { enabled: true }
								}
							);
						}
					);
				}

				, add_listing : function( data )
				{
					var obj = this;
					var str	= $( "#javo-detail-item-review-template" ).html();
					var emp	= $( "#javo-detail-item-review-empty" ).html();
					var el	= $( "#javo-detail-item-review-container" );
					var edit_text;

					el.find( ".dismiss-ready" ).remove();

					if( data )
					{
						var
							edit_link			= ''
							, del_link			= ''
							, detail_ratings	= "";


						if( typeof data.is_author != "undefined" && data.is_author )
						{
							edit_link		+= "<a class=\"javo-detail-item-edit-comment\"" + " ";
							edit_link		+= "data-comment-id=\"" + data.id + "\" href=\"javascript:\">";
								edit_link		+= "<i class=\"fa fa-pencil\"></i>" + " ";
								edit_link		+= edit_text || "Edit";
							edit_link		+= "</a>";

							del_link		+= "<a class=\"javo-detail-item-delete-comment\"" + " ";
							del_link		+= "data-comment-id=\"" + data.id + "\" href=\"javascript:\">";
								del_link		+= "<i class=\"fa fa-pencil\"></i>" + " ";
								del_link		+= edit_text || "Delete";
							del_link		+= "</a>";
						}

						str = str.replace( /{comment-id}/g		, data.id || '' );
						str = str.replace( /{author}/g			, data.author || '' );
						str = str.replace( /{avatar}/g			, data.avatar || '' );
						str = str.replace( /{content}/g			, data.content || '' );
						str = str.replace( /{date}/g			, data.date || '' );
						str = str.replace( /{ratings}/g			, data.ratings || '' );
						str = str.replace( /{rating_sum}/g		, data.rating_sum || 0 );
						str = str.replace( /{rating_average}/g	, data.rating_average || 0 );
						str = str.replace( /{thumbnails}/g		, data.thumbnails || '' );
						str = str.replace( /{reviews}/g			, obj.add_listing_reply( data ) );
						str = str.replace( /{edit}/g			, edit_link );
						str = str.replace( /{del}/g				, del_link );

						if( typeof data.ratings != "undefined" )
						{
							var dr_score = '';
							$.each(
								data.ratings
								, function( title, score )
								{
									dr_score		+= "<div class=\"\" style=\"width:350px;\">";
										dr_score		+= "<div class=\"inline-block\" style=\"width:150px; vertical-align:middle; word-break:break-all\">";
										dr_score		+= title;
										dr_score		+= "</div>";
										dr_score		+= "<div class=\"inline-block\" style=\"width:200px; vertical-align:middle\">";
										dr_score		+= "<div data-score=\"" + score + "\"></div>";
										dr_score		+= "</div>";
									dr_score		+= "</div>";
								}
							);
							detail_ratings += dr_score;
						}

						if( data.prepend ) {
							// el.prepend( str );
							$( str )
								.prependTo( el )
								.find( '[data-score]' )
								.css( 'cursor', 'pointer' )
								.popover(
									{
										content		: detail_ratings
										, html		: true
										, trigger	: 'hover'
										, placement	: 'top'
									}
								)
								.on(
									'shown.bs.popover'
									, function ()
									{
										$( this )
											.parent()
											.find( '.popover [data-score]' )
											.raty({
												starOff: '/assets/star-off-s.png'
												, starOn: '/assets/star-on-s.png'
												, starHalf: '/assets/star-half-s.png'
												, half: true
												, width:150
												, readOnly	: true
												, score: function() {
													return $(this).attr('data-score');
												}
											});
									}
								);

						}else{

							// el.append( str );
							$( str )
								.appendTo( el )
								.find( '[data-score]' )
								.css( 'cursor', 'pointer' )
								.popover(
									{
										content		: detail_ratings
										, html		: true
										, trigger	: 'hover'
										, placement	: 'top'
									}
								)
								.on(
									'shown.bs.popover'
									, function ()
									{
										$( this )
											.parent()
											.find( '.popover [data-score]' )
											.raty({
												starOff: '/assets/star-off-s.png'
												, starOn: '/assets/star-on-s.png'
												, starHalf: '/assets/star-half-s.png'
												, half: true
												, width:150
												, readOnly	: true
												, score: function() {
													return $(this).attr('data-score');
												}
											});
									}
								);

						}
					}else{
						el.append( emp );
					}

					$('[data-toggle="popover"]').popover();
				}

				, add_listing_reply : function( data )
				{
					var result = '';

					if( typeof data.reply == 'undefined' )
						return '';

					$.each(
						data.reply
						, function( i, k ){
							var str = $("#javo-detail-item-reply-template").html();
							str = str.replace( /{author}/g			, k.author || '' );
							str = str.replace( /{content}/g			, k.content || '' );
							str = str.replace( /{date}/g			, k.date || '' );
							result += str;
						}
					);
					return result;
				}

				, getReviewLists : function()
				{
					var obj			= this;
					var param_el	= $( "#javo-detail-item-review-parameter" );
					var ajaxurl		= param_el.find( "[name='ajaxurl']" ).val();
					var param		= {
						action		: 'get_item_review'
						, nonce		: param_el.find( "[name='nonce']" ).val()
						, post_id	: param_el.find( "[name='post_id']").val()
					}

					return function( e )
					{
						e.preventDefault();

						var	el		= $( this );

						param.offset	= obj.list_offset;

						$.ajaxSetup({

							beforeSend : function() {
								el.button( 'loading' );
							}
							, complete : function() {
								el.button( 'reset' );
								obj.setRatings();
							}
						});
						$.post(
							ajaxurl
							, param
							, function( response )
							{
								if( response.state ) {
									if( response.data.length > 0 ) {
										$.each( response.data, function( i, data ){
											obj.add_listing( data );
										});
										obj.list_offset += response.data.length;
									}else{
										obj.add_listing();
									}
									obj.setReviewImageSlider();
								}else{
									$.javo_msg({ content: 'Error' });
								}
							}
							, 'json'
						)

						.fail( function( xhr ) {
							console.log( xhr.responseText );
						} );
					}
				}

				, appendReply : function(){

					var obj = this, opt;
					return function( e ) {

						if( e.keyCode == 13 )
						{
							opt = {
								content		: $( this ).html()
								, parent	: $( this ).data( 'parent-id' )
							};
							obj.regsiterReply( this, opt );
						}
					};
				}

				, regsiterReply : function( el, opt )
				{
					var obj				= this;
					var param_el		= $( "#javo-detail-item-review-parameter" );
					var ajaxurl			= param_el.find( "[name='ajaxurl']" ).val();
					var param			= {
						action			: 'add_comment_reply'
						, nonce			: param_el.find( "[name='nonce']" ).val()
						, comment_id	: opt.parent
						, post_id		: param_el.find( "[name='post_id']").val()
						, content		: opt.content
					};

					if( $( el ).hasClass( 'disabled' ) )
						return false;

					$( el )
										.attr( 'contenteditable', false )
										.addClass( 'disabled' );

					$.post(
						ajaxurl
						, param
						, function( xhr )
						{
							var str;
							var data = xhr.data;

							if( xhr.state == 'success' )
							{
								if( xhr.approve ){
									str = $("#javo-detail-item-reply-template").html();
									str = str.replace( /{author}/g		, data.author || '' );
									str = str.replace( /{content}/g		, data.content || '' );
									str = str.replace( /{date}/g		, data.date || '' );
									$( ".javo-detail-item-reply-container[data-parent-id='" + opt.parent + "']" )
										.prepend( str );

									$.javo_msg({ content: param_el.find( "[name='reply_register_success']" ).val() });

								}else{
									$.javo_msg({ content: window.__javo_str_comment_pending });
								}
							}

							$( el )
										.empty()
										.attr( 'contenteditable', true )
										.removeClass( 'disabled' );
						}
						, 'json'
					);
				}

				, editComment : function()
				{
					var obj = this;

					return function( e )
					{
						e.preventDefault();

						var
							el				= $( this )
							, comment_id	= $( this ).data( "comment-id" )
							, parent		= $( this ).closest( ".javo-detail-item-review-inner" )
							, text_el		= parent.find( ".javo-detail-item-comment-content" )
							, param_el		= $( "#javo-detail-item-review-parameter" )
							, ajaxurl		= param_el.find( "[name='ajaxurl']" ).val();

						if( $( this ).hasClass( 'active' ) )
						{

							$.post(
								ajaxurl

								, {
									action		: 'javo_update_review'
									, comment	: comment_id
									, content	: text_el.html()
								}

								, function( response )
								{
									if( typeof response.error === "undefined" )
									{
										if( response.state !== "OK" ) {
											$.javo_msg({ content: param_el.find( "[name='reply_modify_fail']" ).val(), delay : 5000 });
										}else{
											el.removeClass( 'active' );
											text_el
												.attr( "contenteditable" , false )
												.removeClass( "text-field" );
										}

									}else{
										$.javo_msg({ content: response.error, delay : 5000 });
									}
								}
								, 'json'
							)
							.fail( function( xhr ){
								console.log( xhr.responseText );
							} );



						}else{
							$( this ).addClass( 'active' );
							text_el
								.attr( "contenteditable" , true )
								.addClass( "text-field")
								.focus();
						}
					}
				}
			};

			new javo_write_review( "#javo-review-form-container" );

		} );
		</script>
		
			<script type="text/javascript">
			jQuery( function($){
				"use strict";
				jQuery("#javo_rb_contact_submit").on("click", function(){
					var options = {
						subject: $("#javo_rb_contact_name")
						, to:"javothemes@gmail.com"
						, from: $("#javo_rb_contact_from")
						, content: $("#javo_rb_contact_content")
						, to_null_msg: "Please, type email address."
						, from_null_msg: "Please, type your email adress."
						, subject_null_msg: "Please, type your name."
						, content_null_msg: "Please, type your message"
						, successMsg: "Successfully sent!"
						, failMsg: "Sorry, failed to send your message"
						, confirmMsg: "Do you want to send this email ?"
						, url:"http://javothemes.com/directory/demo1/wp-admin/admin-ajax.php"
					};
					$.javo_mail(options);
				});
				$("a.javo_favorite").javo_favorite({
					url				: "http://javothemes.com/directory/demo1/wp-admin/admin-ajax.php"
					, user			: "0"
					, str_nologin	: "If you want to add it to your favorite, please login."
					, str_save		: "Saved"
					, str_unsave	: "Unsaved"
					, str_error		: "Sorry, server error."
					, str_fail		: "favorite register fail."
					, before		: function(){
						if( !( $('.javo-this-logged-in').length > 0 ) ){
							$('#login_panel').modal();
							return false;
						};
						return;
					}
				}, function(){
					if( $( this ).hasClass('remove') ){
						$( this ).closest('tr').remove();
					}
				});
			});
			</script>

<script type="text/javascript">
	jQuery(function($){
		$(document).on('click','.add-friend',function(data){
			if (user.id ==0) {
				$('.alert-bottom ').html('Bạn cần đăng nhập để thực hiện chức năng');
				setTimeout(function(){ $('.alert-bottom ').html('') }, 3000);
			}else{
				var user_2  = $(this).data('userid');
				var user_1  = user.id;
				if (user_2 != user_1) {
					$.post('/api/add_friend',{user_1:user_1,user_2:user_2},function(data){
						if (data.status) {
							$('.alert-bottom ').html('Thêm bạn thành công');
							setTimeout(function(){ $('.alert-bottom ').html('') }, 3000);
						}else{
							$('.alert-bottom ').html('Thêm bạn thất bại	');
							setTimeout(function(){ $('.alert-bottom ').html('') }, 3000);
						};
					})
				};
			};
		});
	});
</script>
			<script type='text/javascript' src='/assets/js/jquery.javo.msg.js'></script>

<script type="text/javascript" src="/assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/k_means.js"></script>
<script type="text/javascript" src="/assets/js/aco.js"></script>
<script type="text/javascript" src="/assets/js/jquery.favorite.js"></script>
<script type="text/javascript" src="/assets/js/pace.min.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/javo-footer.js"></script>
<script type="text/javascript" src="/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/js/navigation.js"></script>
<script type="text/javascript" src="/assets/js/google.map.infobubble.js"></script>
<script type="text/javascript" src="/assets/js/jquery.typehead.js"></script>
<script type="text/javascript" src="/assets/js/jquery.raty.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.nouislider.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.javo.mail.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>

<script type="text/javascript">

	(function($){
		$.fn.trip_map = function(options){
			var defaults = {
				// Google Map Parameter Initialize
				 map_init:{
					map:{
						options:{
							mapTypeId: google.maps.MapTypeId.ROADMAP
							, mapTypeControl	: true
							, panControl		: false
							, scrollwheel		: true
							, streetViewControl	: true
							, zoomControl		: true
							, zoomControlOptions: {
								position: google.maps.ControlPosition.RIGHT_BOTTOM
								, style: google.maps.ZoomControlStyle.SMALL
							 }
						}
						, events:{
							click: function(){
								var obj = window.javo_map_box_func;
								obj.close_ib_box();
							}
						}
					}
					, panel:{
						options:{
							content:$('#javo-map-inner-control-template').html()
						}
					}
				}
				// Google Point Of Item(POI) Option
				, map_style:[
					{
						featureType: "poi",
						elementType: "labels",
						stylers: [
							{ visibility: "off" }
						]
					}
				],
				location: {lat: -25.363, lng: 131.044},
				items: [
    				]
			},
			options = $.extend(options,defaults);
			return this.each(function(){
				$(this).gmap3(options.map_init);

				if (options.items.length < 0) {
					return;
				};
				var item_markers	= new Array(),response = [],obj = $(this);

				$.post('/api/detail_by_schedule_id',{schedule_id: $(this).data('scheduleid')}).done(function(data){
					response = data;
					
					$.each( response, function( i, item ){
						if( item.lat != "" && item.lng != "" )
						{
							var k =1;
							if (i ==response.length - 1) {k =0}else{k = i +1};
							
							var icon_content ='';
							icon_content= '<span class="icon-item-place-number" >'+(i+1)+'</span>';

							item_markers.push( {
								//latLng		: new google.maps.LatLng( item.lat, item.lng )
								lat			: item.place_lat
								, lng		: item.place_lng
								, thumbnail : item.place_img

								, options	: { icon: item.place_img , content 	: icon_content +'<img src="'+item.place_img + '"  width="40" height="40" class="icon-item-place"  />'}
								, id		: "mid_" + item.place_id
								, data		: item
							} );
						}
					});
					if( item_markers.length > 0 )
					{
						for (var i = 0; i < item_markers.length; i++) {
							if (i < item_markers.length -1) {
								_drawRoutePoint(item_markers[i],item_markers[i+1],$(this).gmap3("get"));
							}else{
								_drawRoutePoint(item_markers[i],item_markers[0],$(this).gmap3("get"));
							};
						};
						var _opt = {
								marker:{
									values: item_markers
									, events:{
										click: function( m, e, c ){
											var map = $(this).gmap3("get"),
									          infowindow = $(this).gmap3({get:{name:"infowindow"}});
									        if (infowindow){
									          infowindow.open(map, m);
									          infowindow.setContent(c.data.place_name);

									        } else {
									          $(this).gmap3({
									            infowindow:{
									              anchor:m, 
									              options:{content: c.data.place_name}
									            }
									          });
									        }
										}
								}
							}
						}
						_opt.marker.cluster = {
							radius: parseInt( $("[javo-cluster-level]").val() ) || 100
							, 0:{ content:'<div class="javo-map-cluster admin-color-setting">CLUSTER_COUNT</div>', width:52, height:52 }
							, events:{
								click: function( c, e, d )
								{
									var $map = $(this).gmap3('get');
									var maxZoom = new google.maps.MaxZoomService();
									var c_bound = new google.maps.LatLngBounds();

									// IF Cluster Max Zoom ?
									maxZoom.getMaxZoomAtLatLng( d.data.latLng , function( response ){
										if( response.zoom <= $map.getZoom() && d.data.markers.length > 0 )
										{
											var str = '';

											str += "<ul class='list-group'>";

											str += "<li class='list-group-item disabled text-center'>";
												str += "<strong>";
													str += $("[javo-cluster-multiple]").val();
												str += "</strong>";
											str += "</li>";

											$.each( d.data.markers, function( i, k ){
												str += "<a onclick=\"window.javo_map_box_func.marker_trigger('" + k.id +"');\" ";
													str += "class='list-group-item'>";
													str += k.data.place_name;
												str += "</a>";
											});

											str += "</ul>";
											var hMarker		= new google.maps.Marker({
												position	: c.main.getPosition()
												, map		: $map
												, icon		: ''
											});
											infowindow = $(this).gmap3({get:{name:"infowindow"}});

											infowindow.setContent( str );
											infowindow.open( $map, hMarker );
											hMarker.setMap( null );

										}else{
											$map.setCenter( c.main.getPosition() );
											$map.setZoom( $map.getZoom() + 2 );
										}
									} ); // End Get Max Zoom
								} // End Click
							} // End Event
						} // End Cluster
						obj.gmap3(_opt,"autofit");
					}
				});
				
			});
		};
		var arrPolylineOptions =[],arrDirectionsDisplay = [];
		function _drawRoutePoint(place1,place2,map)
			{
				console.log('a')
				//Set up options color in road result
			    var polylineOptionsActual = new google.maps.Polyline({
				    strokeColor: '#ec971f',
				    strokeOpacity: 1,
				    strokeWeight: 5
			    });
			    arrPolylineOptions.push(polylineOptionsActual);

			    var directionsService = new google.maps.DirectionsService();
			    var directionsDisplay;
			    //remove icon start and end of result
			    var rendererOptions = {
			          map: map,
			          suppressMarkers : true,
			          polylineOptions : polylineOptionsActual
			        }
			    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
			    arrDirectionsDisplay.push(directionsDisplay);
			    var request = {
			        origin: new google.maps.LatLng(place1.place_lat, place1.place_lng),
			        destination: new google.maps.LatLng(place2.place_lat, place2.place_lng),
			        travelMode: google.maps.TravelMode.DRIVING
			    };
			    //distance of 2 position in map
			    //var distance    = google.maps.geometry.spherical.computeDistanceBetween(request.origin,request.destination);
			    //tripPlan.schedules[currDay-1].distance +=distance.toFixed(2);;
			    //console.log("Distance: " + distance.toFixed(2) + " m");

			    directionsService.route(request, function(result, status) {
			    	console.log(status);
			        if (status == google.maps.DirectionsStatus.OK) {
			            directionsDisplay.setDirections(result);
			        }
			    });
			}
	})(jQuery);


</script>
<div class="alert-bottom"></div>
<style type="text/css">
	.alert-bottom {
    float: left;
    width: 200px;
    background: rgba(101, 98, 98, 0.2);
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #000;
    z-index: 999;
    padding: 3px 10px;
}
</style>
</body>

<!-- Mirrored from javothemes.com/directory/demo1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jul 2015 13:07:57 GMT -->
</html>