<h1>Listing plans</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to 'Show', [:admin, plan] %></td>
        <td><%= link_to 'Edit', edit_admin_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', [:admin, plan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_admin_plan_path %>
