 .form-login {max-width: 330px;padding: 15px;margin: 0 auto;}
  .form-signin {max-width: 330px;padding: 15px;margin: 0 auto;}
.sign_in{ font-weight: bold;opacity: 0.7}
.sign_in:hover{background: transparent;opacity: 1}
.reser_a{color: black !important;opacity: 0.7}
.reser_a:hover{background: transparent;opacity: 1}
@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 0.9s ease-in-out infinite;
    -moz-animation:    ld 0.5s ease-in-out infinite;
    -o-animation:      ld 0.1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}

.headermessage {
  margin: 0px;
  color: #3073ac;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.submessage {
  margin: 0px;
  color: #3073ac;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.image-block {
    padding: 7px;
    margin: 0px;
    text-align: center;
    vertical-align: bottom;
}
.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 12px;
    color: #3073ac;
}