 <!--# Templates -->
	<script type="text/template" id="trip3s-item-day">
		<li>
			<a href="#" class="{{item_day_number}}" day="{{item_day}}"> Ngày {{item_day}}</a>
		</li>
	</script>
	<script type="text/template" id="javo-map-box-content-not-found">
		<div class="text-center">
			<h3>Not Found Items</h3>
		</div><!-- /.text-center -->
	</script>

	<script type="text/template" id="javo_map_this_loading">
		<h2 class="text-center">
		</h2>
	</script>
	<script type="text/html" id="javo-map-loading-template">
		<div class="text-center" id="javo-map-info-w-content" class="javo-map-info-w-content">
			<img src="http://javothemes.com/directory/demo2/wp-content/themes/javo-directory/assets/images/loading.gif" width="50" height="50">
		</div>
	</script>
	<script type="text/html" id="load-added-friend">
		<li class="list-group-item" data-userid="{{user-id}}" data-user="{{user-user}}">
			{{user-name}}
			<button class="btn-xs btn-default pull-right remove-friend-to-plan" data-userid="{{user-id}}" ><i class="glyphicon glyphicon-remove"></i></button>
		</li>            
	</script>
	<script type="text/html" id="load-item-friend">
		<li class="list-group-item">
			{{user-namea}}
			<button class="btn-xs btn-default pull-right add-friend-to-plan"  data-username="{{user-name}}"  data-user="{{data-user}}" data-userid="{{user-id}}"><i class="glyphicon glyphicon-plus-sign"></i></button>
		</li>            
	</script>

	<script type="text/html" id="load-schedule-day-header-control-3">
		<div class="col-md-12">
		    <button class="btn btn-xs btn-danger pull-left"    id="back-to-day"><i class="fa fa-arrow-circle-left"></i> Quay lại</button>
		    <button class="btn btn-xs btn-success preview-to-plan  pull-left"    id="preview-to-plan"><i class="fa fa-eye"></i> Xem trước</button> 
		</div>
	</script>
	<script type="text/html" id="load-schedule-day-header-control-2">
		<div class="col-md-3 dropdown pull-left dropleft">
			<button class="btn btn-xs btn-warning dropdown-toggle" type="button" data-place_id="1" id="dropdown-select-days" data-toggle="dropdown">
				Ngày {{current_day}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu plan-day" id="list-day" role="menu" aria-labelledby="dropdown-select-days">

			</ul>
		</div>
		<div class="col-md-9">
		   	<button class="btn btn-xs btn-danger btn-box-seting" ><i class="fa fa-hand-o-left"></i>Quay lại</button>
		    <button class="btn btn-xs btn-info"    id="all-to-plan"><i class="glyphicon glyphicon-th-list"></i> Tất cả</button>
		    <button class="btn btn-xs btn-primary btn-box-users"    id="btn-box-users">Tiếp theo<i class="fa fa-hand-o-right"></i></button>
		</div>
	</script>
	<script type="text/html" id="load-schedule-day-header-control-1">
		<div class="col-md-12">
			<strong ><i class="fa fa-list"></i> Địa điểm đã chọn</strong>
			<button class="btn btn-xs btn-danger  showMap-place"><i class="glyphicon glyphicon-globe"></i> Bản đồ</button>
			<button class="btn btn-xs btn-info create-trip"><i class="fa fa-pie-chart"></i> Tạo lịch</button>
		</div>
	</script>

	<script type="text/html" id="load-schedule-day-header-bar-1">
		<div class="attribute-schedule col-md-12" id="attribute-schedule">
			<div><i class="fa  fa-map-marker icon"></i>
				<i data-place="2" id="place-of-1" class="place-number">2</i> Địa điểm
			</div>
			<div>
				<i class="fa fa-clock-o icon"></i>
				<i data-time="2" id="time-of-1" class="time-number">2</i>Ngày
			</div>
			<div>
				<i class="fa fa-user icon"></i>
				<i data-user="2" id="user-of-1" class="user-number">2</i>Người
			</div>
		</div>
	</script>
 
	<script type="text/html" id="loading-place-start-1">
			<div class="form-group">
				<h3>Cài đặt ngày {{dayNumber}}</h3>
	       		<label class="left" for="tripPlan_placeBegin_{{dayNumber}}"><strong>Điểm bắt đầu:  </strong></label>
	            <select class="tripPlan-placeBegin form-control left"  data-schedule="{{dayNumber}}" name="tripPlan_placeBegin_{{dayNumber}}"  style ="width:150px">
	            	{{places-list-start}}
	            </select>
		    </div>

	        <div class="form-group">
	       		<label class="left" for="tripPlan_placeEnd_{{dayNumber}}"><strong>Điểm ở lại:  </strong></label>
	            <select class="tripPlan-placeEnd form-control left" data-schedule="{{dayNumber}}" name="tripPlan_placeEnd_{{dayNumber}}"  style ="width:150px">
	            	{{places-list-end}}
	            </select>
	        </div>


				<div class="form-group">
                        <label class="left" for="tripPlan_placeMoney_{{dayNumber}}"><strong>Số Tiền:  </strong></label>
                        <input type="number" name="tripPlan_placeMoney_{{dayNumber}}" class="form-control left tripPlan_placeMoney_{{dayNumber}}" id="tripPlan_placeMoney_{{dayNumber}}" placeholder="Số tiền chuẩn bị" required="required" style ="width:150px">
                    </div>

				<div class="form-group">
                        <label class="left" for="tripPlan_placeUser_{{dayNumber}}"><strong>Số Người:  </strong></label>
                        <input type="number" name="tripPlan_placeUser_{{dayNumber}}" class="form-control left tripPlan_placeUser_{{dayNumber}}" id="tripPlan_placeUser_{{dayNumber}}" placeholder="Số người tham gia" required="required" style ="width:150px">
                    </div>

              <div class="form-group">
                        <label class="left" for="tripPlan_timeBegin_{{dayNumber}}"><strong>Thời gian đi:  </strong></label>
                        <input type="text" min="1" max="24" name="tripPlan_timeBegin_{{dayNumber}}" class="form-control left tripPlan_timeBegin_{{dayNumber}}" id="tripPlan_timeBegin_{{dayNumber}}"  required="required" style ="width:150px">
                    </div>
              <div class="form-group">
                        <label class="left" for="tripPlan_timeEnd_{{dayNumber}}"><strong>Thời gian về:  </strong></label>
                        <input type="text"  min="1" max="24"  name="tripPlan_timeEnd_{{dayNumber}}" class="form-control left" id="tripPlan_timeEnd_{{dayNumber}}"  required="required" style ="width:150px">
                    </div>

              <div class="form-group"> 
                <div class="checkbox">
                  <label><input type="checkbox" id="tripPlan_ignoreFee_{{dayNumber}}" class="tripPlan_ignoreFee_{{dayNumber}}" name="tripPlan_ignoreFee_{{dayNumber}}" >Bỏ qua chi phí ở lại</label>
                </div>
              </div>
		
	</script>
	<script type="text/html" id="loading-place-weather-1">
		<div class="col-sm-12">
                <div class="form-group">
                <label style="width:100%"> {{label-location}} </label>
                  <div class="value-weather icson-weather"> 
                  	{{weather-location}}
                  </div>
                </div>
              </div>

	</script>
	<script type="text/html" id="loading-place-start-2">
			<div class="form-group">
			<h3>Cài đặt ngày {{dayNumber}}</h3>
       		<label class="left" for="tripPlan_placeEnd_{{dayNumber}}"><strong>Điểm ở lại:  </strong></label>
            <select class="tripPlan-placeEnd form-control left" data-schedule="{{dayNumber}}"  name="tripPlan_placeEnd_{{dayNumber}}"  style ="width:150px">
            	{{places-list-end}}
            </select>
        </div>
				<div class="form-group">
                        <label class="left" for="tripPlan_placeMoney_{{dayNumber}}"><strong>Số Tiền:  </strong></label>
                        <input type="number" name="tripPlan_placeMoney_{{dayNumber}}" class="form-control left tripPlan_placeMoney_{{dayNumber}}" id="tripPlan_placeMoney_{{dayNumber}}" placeholder="Số tiền chuẩn bị" required="required" style ="width:150px">
                    </div>

				<div class="form-group">
                        <label class="left" for="tripPlan_placeUser_{{dayNumber}}"><strong>Số Người:  </strong></label>
                        <input type="number" name="tripPlan_placeUser_{{dayNumber}}" class="form-control left tripPlan_placeUser_{{dayNumber}}" id="tripPlan_placeUser_{{dayNumber}}" placeholder="Số người tham gia" required="required" style ="width:150px">
                    </div>

              <div class="form-group">
                        <label class="left" for="tripPlan_timeBegin_{{dayNumber}}"><strong>Thời gian đi:  </strong></label>
                        <input type="text" min="1" max="24" name="tripPlan_timeBegin_{{dayNumber}}" class="form-control left tripPlan_timeBegin_{{dayNumber}}" id="tripPlan_timeBegin_{{dayNumber}}"  required="required" style ="width:150px">
                    </div>
              <div class="form-group">
                        <label class="left" for="tripPlan_timeEnd_{{dayNumber}}"><strong>Thời gian về:  </strong></label>
                        <input type="text"  min="1" max="24"  name="tripPlan_timeEnd_{{dayNumber}}" class="form-control left" id="tripPlan_timeEnd_{{dayNumber}}"  required="required" style ="width:150px">
                    </div>
                     <div class="form-group"> 
                <div class="checkbox">
                  <label><input type="checkbox" id="tripPlan_ignoreFee_{{dayNumber}}" class="tripPlan_ignoreFee_{{dayNumber}}" name="tripPlan_ignoreFee_{{dayNumber}}" >Bỏ qua chi phí ở lại</label>
                </div>
              </div>

	</script>
	<script type="text/html" id="loading-preview-detail-day">
		<section class="col-md-12">
                        <div class="iti-att-content  col-md-12">
                          <div class="col-md-4">
                            <img class="thumbnail-img" src="{{place_thumbnail}}" alt="{{place_name}}">
                          </div>
                          <div class="col-md-8">
                            <div class="col-md-12">
                              <strong>Tên địa điểm: {{place_name}}</strong>
                            </div>
                            <div class="col-md-12">
                              <strong>Thời gian thăm: {{place_time}}</strong>
                            </div>
                            <div class="col-md-12">
                              <strong>Thời gian đến: {{place_come}}</strong>
                            </div>
                            <div class="col-md-12">
                              <strong>Thời gian mở cửa: {{place_open}}</strong>
                            </div>
                            <div class="col-md-12">
                              <strong>Thời gian đóng cửa: {{place_close}}</strong>
                            </div>
                            <div class="col-md-12">
                              <strong>Ghi chú: {{place_note}}</strong>
                            </div>
                          </div>
                        </div>
                        <div class="iti-att-next-route fui-row-full col-md-12 route-content-preview">
                          <div class="attribute-route">

                            <div class="pull-right trans-detail" style="    cursor: pointer;">  &nbsp; Chi tiết  &nbsp;</div>
                             <div class="pull-left trans-mode">
                            <i class="trans-icon icomoon-icon-bus"></i>
                            <span class="hidden-xs title">Đi đến <a target="_blank" href="#">{{place_next}}</a></span>
                            </div>
                            <div class="pull-right trans-time">&nbsp; <i class="glyphicon glyphicon-time"></i>
                              {{next_time}} giờ
                            </div>  
                            <div class="pull-right trans-distance">
                              <i class="glyphicon glyphicon-arrow-down"></i> {{next_distance}}<span class="trans-unit"> km</span>
                            </div>
                          </div>

                          <div class="content-detail-next-place content-detail-next-place-{{place_id}}-{{day-index}}" id="content-detail-next-place-{{place_id}}-{{day-index}}">
               
                          </div>
                        </div>

                      </section>
	</script>
	<script type="text/html" id="loading-preview-detail-schedule">
		<div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Ngày {{day-index}}: </strong>
                    <span class="badge fright">{{place-count}}  Địa điểm</span>
                    <span class="badge fright">{{user-count}}  Người</span>
                    <span class="badge fright">{{money-count}}  Vnđ</span>
                  </div>
                  <div class="panel-body">
                    <div class="map-in-schedule map-schedule-{{day-index}}" id="map-schedule-{{day-index}}" style="height:500px; width:100%" >
                      
                    </div>
                    <div class="row">
                      {{section_detail}}
                    </div>
                  </div>
                </div>
              </div>

	</script>
	<script type="text/html" id="loading-preview-plan">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		          <button type="button" class="close" title="Đóng" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>

		          <h4 class="modal-title"  >Xem trước kế hoạch</h4> 
		      </div>
		      <div class="modal-body" id="preview_detail_panel_content">
		        <div class="row">
		          <div class="col-sm-12">
		            <div class="text-left quote fleft">
		              <div class="quote-content fui-gray">
		                {{plan_name}}
		              </div>
		            </div>
		            <ul class="iti-attributes nav-links fui-row-full list-unstyled">
		              <li><span class="fleft">Tổng thời gian:</span><span class="fright plan-value"><b> {{plan_day}}</b> <small> Ngày</small></span></li>

		              <li><span class="fleft">Tổng chi phí:</span><span class="fright plan-value"><b> {{plan_all_money}}</b> <small> Vnđ</small></span></li>

		              <li><span class="fleft">Tổng khoảng cách:</span><span class="fright plan-value"><b>{{plan_all_distance}}</b> <small> km</small></span></li>

		              <li> <span class="fleft">Tổng địa điểm</span> <span class="fright plan-value"><b>{{plan_all_place}}</b> <small> địa điểm</small></span></li>
		            </ul>
		          </div>
		        </div>
		        <div class="row detail-plan-html" >
		        	{{plan_all_detail}}
		        </div>
		        <div class="modal-footer">
		        </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</script>

	<script type="text/html" id="loading-list-place-plan"> 
		<div class="well-default panel-heading header-detail-add-plan">
 	
			<div class="row schedule-day-header-control" id="schedule-day-header-control">
				<div class="col-md-12">
					<h4>Danh sách địa điểm đã chọn</h4>
				</div>
				<div class="col-md-12">
					<button class="btn btn-xs pull-left btn-danger  showMap-place"><i class="glyphicon glyphicon-globe"></i> Xem bản đồ</button>
					<button class="btn btn-xs pull-left btn-info btn-box-filter"> 
						<i class="fa fa-search-plus"></i> Tìm kiếm địa điểm
					</button>
			
					<button class="btn btn-xs pull-left btn-primary btn-box-seting" data-next="1"><i class="fa fa-hand-o-right"></i>Tiếp theo</button>
				</div>
			</div>
		</div>
		<div class=" well-default panel-body body-detail-add-plan" id="body-detail-add-plan">
			<img src="http://javothemes.com/directory/demo2/wp-content/themes/javo-directory/assets/images/loading.gif" width="150">
		</div>
	</script>
	<script type="text/html" id="loading-list-review-plan"> 
	  <div class="javo_mhome_sidebar panel panel-default style-3"  style="margin-bottom:0px">
        <div class="well-default panel-heading header-detail-add-plan">
          <div class="row schedule-day-header-control" id="schedule-day-header-control-2">
            <div class="col-md-12">
              <h4>Danh sách địa điểm</h4>
            </div>
            <div class="col-md-12">
               <button class="btn btn-xs pull-left btn-danger btn-box-seting"><i class="fa fa-hand-o-left"></i> Quay lại</button>
            
               <button class="btn btn-xs  pull-right btn-info create-trip"><i class="fa fa-pie-chart"></i> Sắp lịch

               </button>
            
                <span class="trigger-create" ></span> 
            </div>
          </div>
        </div>
        <div class=" well-default panel-body body-detail-add-plan" id="body-detail-review-plan">
         
        </div>
      </div>
	</script>
	<script type="text/html" id="load-body-detail-create-plan">
		<form>
			<div class="form-group">
                <label class="left" for="tripPlan[dayNumbers]"><strong>Số ngày:  </strong></label>
                <input type="number" name="tripPlan[dayNumbers]" class="form-control left" id="tripPlan-dayNumbers" placeholder="Số ngày" required="required" style ="width:150px">
            </div>
			<div class="form-group">
                <label class="left" for="tripPlan[userNumbers]"><strong>Số Người:  </strong></label>
                <input type="number" name="tripPlan[userNumbers]" class="form-control left" id="tripPlan-userNumbers" placeholder="Số Người" required="required" style ="width:150px">
            </div>
			<div class="form-group">
                <label class="left" for="tripPlan[moneyNumbers]"><strong>Số Tiền:  </strong></label>
                <input type="number" name="tripPlan[moneyNumbers]" class="form-control left" id="tripPlan-moneyNumbers" placeholder="Số tiền chuẩn bị" required="required" style ="width:150px">
            </div>
			<div class="form-group">
                <label class="left" for="tripPlan[placeBegin]"><strong>Điểm ở lại:  </strong></label>
                <select class="tripPlan-placeBegin form-control left" name="tripPlan[placeBegin]"  style ="width:150px">
                </select>
            </div>
			<div class="form-group">
				<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
            </div>
			<div class="form-group">
                <label class="left" for="tripPlan[button]"></label>
                <button type="button" class="btn btn-sm btn-success btn-save-detail-plan"><i class="fa fa-save"></i> Lưu</button>
                <button type="reset" class="reset btn-sm btn btn-danger" ><i class="fa fa-times"></i> Hủy bỏ</button>
            </div>
        </form>
	</script>
	<script type="text/html" id="loading-detail-plan">
	<button class="btn-xs save-to-plan save-left" ><i class="fa fa-chevron-circle-left"></i>
	Lưu kế hoạch
	</button>	
	<div>	

		<div class="well-default panel-heading header-detail-add-plan">
			<div class="row schedule-day-header-control" id="schedule-day-header-control">
				<div class="col-md-12">
					<strong >Danh sách địa điểm</strong>
				</div>
				<div class="create-trip">
					<strong >create-trip</strong>
				</div>
			</div>
			<div class="row schedule-day-header">
				<div class="attribute-schedule col-md-12" id="attribute-schedule">
					<div><i data-place="2" id="place-of-1" class="place-number">2</i> <i class="fa  fa-map-marker icon"></i></div>
					<div><i data-distance="2" id="distance-of-1" class="distance-number">3</i><i class="fa fa-arrows-h icon"></i></div>
					<div><i data-time="2" id="time-of-1" class="time-number">2</i><i class="fa fa-clock-o icon"></i></div>
					<div><i data-user="2" id="user-of-1" class="user-number">2</i><i class="fa fa-user icon"></i></div>
					<div><i data-money="2" id="money-of-1" class="money-number">300</i> đ</div>
				</div>
			</div>
		</div>
		<div class="well-default panel-body body-detail-add-plan" id="body-detail-add-plan"></div>

	</script>
	<script type="text/template" id="trip3s-list-day">
		<li role="presentation">
			<a class="btn-day btn-day-num  {{class_day}} " data="{{data_day}}">Ngày {{data_day}}</a>
		</li>
	</script>
	<script type="text/template" id="trip3s-attribute-schedule-2">
		<div><i class="fa  fa-map-marker icon"></i>
			<b data-place="{{data-place}}" id="place-of-{{data-place}}" class="place-number">{{data-place}}</b> Địa điểm  |
		</div>
		<div>
			<i class="fa fa-clock-o icon"></i>
			<b data-time="{{data-time}}" id="time-of-{{data-time}}" class="time-number">{{data-time}}</b> Ngày  |
		</div>
		<div>
			<i class="fa fa-user icon"></i>
			<b data-user="{{data-user}}" id="user-of-{{data-user}}" class="user-number">{{data-user}}</b> Người 
		</div>
	</script>
	<script type="text/template" id="trip3s-attribute-schedule-3">
		<div class="title-information" ><b><i class="fa  fa-map-marker icon"></i> {{data-index}} - Địa điểm chưa sắp lịch </b></div>
	</script>

	<script type="text/template" id="trip3s-attribute-schedule-4">
		<div> &nbsp; <b data-place="{{data-place}}" id="place-of-{{data-place}}" class="place-number"> {{data-place}}</b> Địa điểm  |
		</div>
		<div> <b data-time="{{data-time}}" id="time-of-{{data-time}}" class="time-number">{{data-time}}</b> Ngày  |
		</div>
		<div> <b data-user="{{data-user}}" id="user-of-{{data-user}}" class="user-number">{{data-user}}</b> Người   |
		</div>
		<div> <b data-user="{{data-money}}" id="user-of-{{data-money}}" class="money-number">{{data-money}} đ</b> 
		</div>
	</script>

	<script type="text/template" id="trip3s-attribute-schedule-1">
		<div class="title-information" ><b>Thông tin ngày thứ {{data-index}}</b>
			<div class="dropdown  pull-right"> 
                <a href="#" title="" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" data-original-title="Sắp lịch hoặc xem lộ trình"> 
                Lộ trình
                </a>
                <ul class="dropdown-menu" role="menu"> 
                  <li>
                  <a id="showMap-plan"  data-day="{{data-index}}" href="#"><i class="glyphicon glyphicon-globe"></i>  Xem lộ trình</a>
                  </li>
                  <li class="li-optimize">

                  <a id="btn-optimize"   data-day="{{data-index}}" class="btn-optimize" href="#"><span class="glyphicon glyphicon-download"></span>  Sắp lộ trình</a>
                  </li>
                </ul>
              </div>  
		</div>


		<div><i class="fa  fa-map-marker icon"></i
			<b data-place="{{data-place}}" id="place-of-{{data-place}}" class="place-number">{{data-place}}</b>  | 
		</div>
		<div>
			<i class="fa fa-arrows-h icon"></i>
			<b data-distance="{{data-distance}}" id="distance-of-{{data-distance}}" class="distance-number">{{data-distance}}</b> | 
		</div>
		<div>
			<i class="fa fa-clock-o icon"></i>
			<b data-time="{{data-time}}" id="time-of-{{data-time}}" class="time-number">{{data-time}}</b>
			 | 
		</div>
		<div>
			<i class="fa fa-user icon"></i>
			<b data-user="{{data-user}}" id="user-of-{{data-user}}" class="user-number">{{data-user}}</b>
			 | 
		</div>
		<div>
			<b data-money="{{data-money}}" id="money-of-{{data-money}}" class="money-number">{{data-money}}</b> đ
		</div>
	</script>
	<script type="text/template" id="trip3s-attribute-schedule-info">
		<div><i class="fa  fa-map-marker icon"></i>
			<b data-place="{{data-place}}" id="place-of-{{data-place}}" class="place-number">{{data-place}}</b>  | 
		</div>
		<div>
			<i class="fa fa-arrows-h icon"></i>
			<b data-distance="{{data-distance}}" id="distance-of-{{data-distance}}" class="distance-number">{{data-distance}}</b> | 

		</div>
		<div>
			<i class="fa fa-clock-o icon"></i>
			<b data-time="{{data-time}}" id="time-of-{{data-time}}" class="time-number">{{data-time}}</b>
			 | 
		</div>
		<div>
			<i class="fa fa-user icon"></i>
			<b data-user="{{data-user}}" id="user-of-{{data-user}}" class="user-number">{{data-user}}</b>
			 | 
		</div>
		<div>

			<b data-money="{{data-money}}" id="money-of-{{data-money}}" class="money-number">{{data-money}}</b> đ
		</div>
	</script>
	<script type="text/template" id="load-model-detail-place">
<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title text-left"><i class="icomoon-icon-location-2"></i><span class="attraction-name">{{place_name}}</span></h4>
		      </div>
		      <div class="row">
		        <div class="col-sm-12 col-xs-12 place-content">
		          <div id="attraction-info" class="col-xs-12" title="Langkawi city center">
		            <div class="fleft visible-xs col-xs-12" style="padding:0px;margin-bottom:15px">
		              <div class="fui-row-full fleft">
		                <a href="#" target="_blank">
		                <img class="img-rounded fui-row-full fleft" style="margin-top:15px;" src="/media/a/00/0a/42787_lg_1.jpeg">
		                </a>
		              </div>
		            </div>
		            <div role="tabpanel" class="place-tabs">
		              <ul class="nav nav-tabs" role="tablist">
		                <li role="presentation" class="active"><a aria-controls="place-info" role="tab" data-toggle="tab">Thông tin</a></li>
		              </ul>
		              <div class="tab-content">
		                <div role="tabpanel" class="tab-pane active" control="place-info">
		                  <div class="fui-block fleft">
		                    <div class="table-attribute fui-row-full row fleft">
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Địa chỉ:  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_address}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Giờ mở cửa:  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_open}} - {{place_close}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Giá :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_min}} - {{place_max}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Thời gian thăm :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_time}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Danh mục :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_category}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Lượt xem :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{post_view}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Rating :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{post_rating}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                        {{place_expert}}
		                      </div>
		                    </div>
		                  </div>
		                </div> 
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		       <div class="modal-footer">
		 

		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</script>
	<script type="text/template" id="load-model-edit-place">
		   <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title text-left"><i class="icomoon-icon-location-2"></i><span class="attraction-name">{{place_name}}</span></h4>
		      </div>
		      <div class="row">
		        <div class="col-sm-8 col-xs-12 place-content">
		          <div id="attraction-info" class="col-xs-12" title="Langkawi city center">
		            <div class="fleft visible-xs col-xs-12" style="padding:0px;margin-bottom:15px">
		              <div class="fui-row-full fleft">
		                <a href="#" target="_blank">
		                <img class="img-rounded fui-row-full fleft" style="margin-top:15px;" src="/media/a/00/0a/42787_lg_1.jpeg">
		                </a>
		              </div>
		            </div>
		            <div role="tabpanel" class="place-tabs">
		              <ul class="nav nav-tabs" role="tablist">
		                <li role="presentation" class="active"><a aria-controls="place-info" role="tab" data-toggle="tab">Thông tin</a></li>
		              </ul>
		              <div class="tab-content">
		                <div role="tabpanel" class="tab-pane active" control="place-info">
		                  <div class="fui-block fleft">
		                    <div class="table-attribute fui-row-full row fleft">
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Địa chỉ:  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_address}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Giờ mở cửa:  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_open}} - {{place_close}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Giá :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_min}} - {{place_max}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Thời gian thăm :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span class="place_time_updated">{{place_time}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Danh mục :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{place_category}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Lượt xem :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{post_view}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                          <div class="col-sm-4 col-xs-12">
		                            <label>Rating :  </label>
		                          </div>
		                          <div class="col-sm-8 col-xs-12">
		                            <span>{{post_rating}}</span>
		                          </div>
		                      </div>
		                      <div class="col-md-12">
		                        {{place_expert}}
		                      </div>
		                    </div>
		                  </div>
		                </div> 
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="col-sm-4 col-xs-12 place-noti row">
		          <div class="pull-left fui-row-full place-event">
		            <div class="form-group">
		              <strong>Ghi chú</strong>
		              <textarea name="description"  style="min-height:75px" data-attr="description" class="description-note form-control input-sm" placeholder="Thông tin ghi chú">{{place_note}}</textarea>
		            </div>
		             <div class="form-group">
		              <strong>Cập nhật thời gian thăm</strong>
		              <input type="number" min="0" max="24" value="{{place_time}}" class="form-control place_time_update"  name="time_place" />
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="modal-footer">
		        <label class="label-status"></label>
		        <button class="btn btn-default update-place-time" data-place_id="{{place_id}}" data-schedule_id="{{schedule_id}}">
		          Cập nhật
		        </button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</script>
	<script type="text/template" id="load-day-in-place">
		<li><a href="#" class="fa  {{index-class}}" day="{{index-number}}"> Ngày {{index-number}}</a><li>
	</script>
	<script type="text/template" id="trip3s-place-in-schedule">
		<li class="day-in-plan col-md-12 {{truetime}} place-num-{{place_id}}"  remote ="true" data-schedule_id="{{schedule_id}}" data-place_id="{{place_id}}" data-place='{{current_place}}'>
			<div class="thumbnail item-list-day"> 
				<img src="{{post_thumbnail}}" /><i class="number">{{sort_thumbnail}}</i>
				<i class="remove-place fa fa-trash-o  {{class_begin}}" data-place_id="{{place_id}}"></i>	
				<div class="excerpt-place">
					{{post_excerpt}}
				</div>

				<div class="edit-item-place btn btn-default" data-place_id="{{place_id}}" >
					Chi tiết
				</div>
				<a class="javo-hmap-marker-trigger btn-default move-item-place" data-id="mid_{{post_id}}" data-place_id="{{place_id}}">Bản đồ</a> 
				<div class="title-place">
				<label class="label label-success">{{place_come}}</label>
					<b>{{post_title}}</b>
				</div>
			</div>
			<div class="place-attribute {{class_begin}}">
				<span><i class="fa fa-clock-o icon"></i><i class="value place_time" place_time data-value="{{place_time}}">{{place_time}}</i> giờ</span>
				<span><i class="fa fa-money icon"></i><i class="value place_ticket" place_ticket data-value="{{place_ticket}}">{{place_ticket}}</i></span>
				<span><i class="fa fa-sticky-note-o icon"></i><i class="value" place_note >Ghi chú</i></span>
			</div>

			<div class="place_note_value" style="display:none"   data-value="{{place_note}}">{{place_note}}</div>
			<div class="next_detail"  style="display:none" next_detail data-value="{{next_detail}}">{{next_detail}}</div>
			<div class="place-router">
				<span><i class="icon fa fa-car"></i>
				</span>
				<span><i class="icon fa fa-arrows-h icon"></i><i class="value next_distance" next_distance data-value="{{next_distance}}">{{next_distance}}</i> Km</span>
				<span><i class="icon fa fa-clock-o icon"></i><i class="value next_time" next_time data-value="{{next_time}}">{{next_time}}</i> Giờ</span>
				<span data-place_id="{{place_id}}" class="detail-next"><i class="icon"></i><i class="value">Chi tiết</i></span>

			<div class="place-router-detail router-panel-{{place_id}}" id="router-panel-{{place_id}}">

			</div>
			</div>
		</li>
	</script>
	<script type="text/template" id="javo-map-box-panel-content">
		<div class="item col-md-6 col-xs-12">
			<div class="thumbnail item-list-box-map" data-place='{place_full}'>
				<div class="thumb-wrap">
					<div class="javo-thb" style="background-image:url({thumbnail_large});"></div>
					<div class="javo-left-overlay">
						<div class="javo-txt-meta-area admin-color-setting">{category}</div> <!-- javo-txt-meta-area -->
						<div class="corner-wrap">
							<div class="corner"></div>
							<div class="corner-background"></div>
						</div> <!-- corner-wrap -->
					</div>
					<div class="javo-right-overlay">
						<div class="javo-txt-meta-area admin-color-setting" data-id="{post_id}" btn-add-place-plan id="add-to-plan">Thêm &nbsp; </div> <!-- javo-txt-meta-area -->
						<i class="fa fa-arrow-circle-down open-lists-day"></i>
						<ul class="nav-drop-menu list-day-in-plan scrollbar style-8" list-day-in-plan  place_id="{place_id}" >
	                       	{{day_in_place}}
                        </ul><!-- nav-drop-menu -->
					</div>
					
					<div class="rate-icons">
						<div class="col-md-2">
							<div class="col-md-12 javo-rating-registed-score" data-score="{rating}"></div>
						</div>
					</div> <!-- rate-icons -->
					<div class="intro">
						<h2 class="group inner list-group-item-heading">{post_title}</h2>
					</div> <!-- intro -->
					<div class="location"><img src="{avatar}" />
					<input type="hidden" id="place_lat-{place_id}" class="place_lat" value="{place_lat}" />
					<input type="hidden" id="place_lng-{place_id}" class="place_lng" value="{place_lng}" />
					</div> <!-- location -->
					<div class="three-inner-button">
						<a class="javo-hmap-marker-trigger three-inner-move" data-id="mid_{post_id}" data-post-id="{post_id}">Đến</a>
						<a href="{permalink}"  target="_brank" class="three-inner-detail">Chi tiết</a>
					</div><!-- three-inner-button -->
				</div> <!-- thumb-wrap -->

				<div class="caption">
					<p class="group inner list-group-item-text">
					</p> <!-- list-group-item-text -->
					<div class="row">
						<div class="item-title-list">
							<a href="{permalink}">{post_title}</a>
						</div>
						<div class="group inner list-group-item-text item-excerpt-list">{excerpt}</div> <!-- list-group-item-text -->
						<div class="col-xs-7 col-sm-7 col-md-7">
							<div class="row">
								<div class="col-md-12">{location}</div><!-- col md 8 -->
							</div><!-- Row -->
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="social-wrap pull-right">
								<span class="javo-sns-wrap">
									<i class="sns-facebook" data-title="{post_title}" data-url="{permalink}">
										<a class="facebook"></a>
									</i>
									<i class="sns-twitter" data-title="{post_title}" data-url="{permalink}">
										<a class="twitter"></a>
									</i>
									<i class="sns-heart">
										<a class="favorite javo_favorite{favorite}" data-no-swap="yes" data-post-id="{post_id}"></a>
									</i>
								</span>
							</div>
						</div><!-- socail -->
					</div><!-- row-->
				</div><!-- Caption -->
			</div><!-- Thumbnail -->
		</div><!-- Col-md-4 -->
	</script>
	<script type="text/template" id="javo-map-box-infobx-content">

		<div class="javo_somw_info panel" style="min-height:220px;">
			<div class="des">
				<ul class="list-unstyled">
					<li><div class="prp-meta"><h4><strong>{post_title}</h4></strong></div></li>
					<li><div class="prp-meta">{phone}</div></li>
					<li><div class="prp-meta">{mobile}</div></li>
					<li><div class="prp-meta">{website}</div></li>
				</ul>
			</div> <!-- des -->

			<div class="pics">
				<div class="thumb">
					<a href="{permalink}" target="_blank">
					
					<img width="150" height="165" src="{thumbnail}" class="attachment-javo-map-thumbnail wp-post-image" alt="image10" />
					</a>
				</div> <!-- thumb -->
				<div class="img-in-text">{category}</div>
				<div class="javo-left-overlay">
					<div class="javo-txt-meta-area custom-bg-color-setting">{location}</div> <!-- javo-txt-meta-area -->

					<div class="corner-wrap">
						<div class="corner admin-color-setting"></div>
						<div class="corner-background admin-color-setting"></div>
					</div> <!-- corner-wrap -->
				</div> <!-- javo-left-overlay -->
			</div> <!-- pic -->
		</div> <!-- javo_somw_info -->
	</script>
	<script type="text/template" id="load-plans-match-places">
		<li class="plan-item">
          <a href="/plans/{{plan_id}}"  target="_blank">
          	<img src="{{plan_thumbnail}}" class="image-item">
	          <span class="title"><strong>{{plan_title}}</strong></span>
	          <span class="caption">
	            <b>{{plan_user}} Người</b>  <br>

	            <b>{{plan_day}} Ngày</b>  <br>

	            <b>{{plan_money}} vnđ</b>    
	          </span>
          </a>
        </li>
	</script>
	<script type="text/template" id="javo-map-box-infobx-content-2">

		<div class="javo_somw_info panel" style="min-height:220px;" data-userid="{{user-id}}">
			<div class="des">
				<ul class="list-unstyled">
					<li><div class="prp-meta"><h4><strong>{{user-display}}</h4></strong></div></li> 
										<li>
						<div class="prp-meta">{{user-address}}
						</div>
					</li>
				</ul>
			</div> <!-- des -->

			<div class="pics">
				<div class="thumb">
					<a href="#" target="_blank">
					
					<img width="150" height="165" src="{{user-thumbnail}}" class="attachment-javo-map-thumbnail wp-post-image" alt="image10" />
					</a>
				</div> <!-- thumb -->
			</div> <!-- pic -->
		</div> <!-- javo_somw_info -->
	</script>
	<script type="text/template" id="javo-map-box-content-loading">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="http://javothemes.com/directory/demo2/wp-content/themes/javo-directory/assets/images/loading.gif" width="150">
			</div><!-- /.text-center -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Loading</h3>
			</div><!-- /.text-center -->
		</div><!-- /.row -->
	</script>
	<script type="text/template" id="javo-map-inner-control-template">
		<div class="javo-map-inner-control-wrap">

			<div class="btn-group">
				<a class="btn btn-default active" data-map-move-allow><i class="fa fa-unlock"></i></a>
				<div class="btn btn-default default-cursor">
					<div class="inline-block javo-my-position">
						<i class="fa fa-compass"></i>
					</div>
					<div class="javo-geoloc-slider inline-block" ></div>
				</div>
			</div><!-- /.btn-group -->
			<div class="map-announcement">
				<ul class="list-announcement">
					
				</ul>
			</div><!-- /.map announcement -->
		</div><!-- /.javo-map-inner-control-wrap -->
	</script>

<!--# /.Templates -->